html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Focus style */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #c69c6d;
}

/* Layout */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f5f1ea;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar {
    background-color: #6f4e37 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 22px;
}

.nav-link {
    color: white !important;
}

    .nav-link:hover {
        color: #d4a373 !important;
    }

/* Buttons */

.btn-success {
    background-color: #8d6e63;
    border: none;
}

    .btn-success:hover {
        background-color: #6d4c41;
    }

.btn-warning {
    background-color: #c69c6d;
    border: none;
}

/* Product image */

table img {
    border-radius: 8px;
}

/* Table */

.table {
    background: white;
}

/* Footer */

footer {
    background-color: #3e2723;
    color: white;
    padding: 20px;
}
/* ===== AUTH PAGE ===== */

.auth-bg {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#f5f1ea,#e7dccf);
}

.auth-card {
    width: 420px;
    padding: 40px;
    border-radius: 18px;
    background: white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    transition: 0.3s;
}

    .auth-card:hover {
        transform: translateY(-3px);
    }

.auth-title {
    text-align: center;
    margin-bottom: 25px;
    color: #6f4e37;
    font-weight: 600;
}

.input-group-text {
    background: #f3f3f3;
}

.auth-btn {
    background: linear-gradient(135deg,#6f4e37,#8d6e63);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
}

    .auth-btn:hover {
        background: linear-gradient(135deg,#5a3e2b,#6d4c41);
    }

